# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
v800_routes.pro.user
debug/tmp/main.o
debug/tmp/moc_protobuf.cpp
debug/tmp/moc_protobuf.o
debug/tmp/moc_v800main.cpp
debug/tmp/moc_v800main.o
debug/tmp/protobuf.o
debug/tmp/proute.pb.o
debug/tmp/ui_v800main.h
debug/tmp/v800main.o
debug/v800_routes.app/Contents/Info.plist
debug/v800_routes.app/Contents/MacOS/v800_routes
debug/v800_routes.app/Contents/PkgInfo
debug/v800_routes.app/Contents/Resources/empty.lproj
Makefile
.qmake.stash
